<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#576CBC" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>RWST</title>
  </head>

  <body>
    <a class="skip2content" aria-label="button skip to button" tabindex="0" href="#mainContent">Lewati menuju konten</a>
    <header>
      <nav class="hidden" id="navcontainer">
        <div>
          <button id="menu" aria-label="button menu dropdown"></button>
          <div id="navmenu"></div>
        </div>
      </nav>
      <navbar-element></navbar-element>
    </header>

    <div class="block">
      <div class="hero">
        <jumbo-tron></jumbo-tron>
      </div>
    </div>
    <main id="mainContent" class="main-resto_container"></main>

    <footer-comp></footer-comp>
  </body>
</html>
